header {
    text-align: center;
    background-color: black;
    padding: 30px;
    border: outset lime;
    font-size: 60px;
    font-family: monospace;
    color: lime;
}

.playground {
    /*value timer current divided by timer start in HTML???*/
    display: flex;
}

.row {
    display: flex;
    width: 85%;
    margin-top: 2%;
}

progress {
    padding: 5%;
    margin: 5%;
    height: 60px;
    width: 170px;
}

button {
    font-size: x-large;
    font-family: monospace;
    height: 50px;
    width: 210px;
    padding-top: 12px;
}

.timer {
    padding-top: 55px;
    font-size: xx-large;
}

main {
    text-align: center;
    width: 69%;
    margin-left: 4%;
    background-color: red;
    color: white;
}

aside {
    width: 15%;
    margin-top: 2%;
    background-color: lightgrey;
}