body {
    background-color: rgb(51, 51, 51);
    color: #5278f7;
    
}

header {
    text-align: center;
    background-color: black;
    width: max-content;
    padding: 30px;
    margin-left: 20%;
    border: dashed lime;
    font-size: 60px;
    font-family: monospace;
    color: lime;
}

.playground {
    /*value timer current divided by timer start in HTML???*/
    display: flex;
    padding-top: 75px;
    padding-left: 100px;
}

.row {
    display: flex;
    margin-top: 2%;
}

button {
    font-size: x-large;
    font-family: monospace;
    padding: 2%;
    margin: 1.5%;
    width: max-content;
    background-color: black;
    border: outset lime;
    color: lime;
}

progress {
    padding-top: 25%;
    margin-left: 25%;
}


.timer {
    padding-top: 55px;
    font-size: xx-large;
}

main {
    float: right;
    text-align: center;
    margin-left: 4%;
    padding: 2%;
}
h1 {
    font-family: monospace;
    font-size: xx-large;
}

ul {
    margin-top: 2%;
    padding-left: 2%;
    background-color: black;
    color: lime;
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
    border: dashed lime;
}